*{
    margin: 0;
    padding: 0;

}
body{
    background-image:url(https://images.firstcovers.com/covers/i/its_easy_if_you_try-5332.jpg);
    background-size:cover ;
    background-position: center center;
    height: 100vh;
}
.wrapper ul{
    width: 860px;
    margin: auto;
}
.wrapper ul{
    list-style: none;
    margin-top: 2%;
}
.wrapper ul li{
    background: white;
    width: 150px;
    height: 50px;
    border:1x solid #fff;
    text-align: center;
    line-height: 50px;
    float:left;
    color: rgb(18, 19, 19);
    font-size: 14px;
    position: relative;
    font-family: fantasy;

}

.wrapper ul li:hover{
    background: rgb(206, 187, 14);
}
.wrapper ul ul {
    display: none;
}
.wrapper ul li:hover>ul {
    display: block;
}
.wrapper ul ul{
    margin: left;
    top: 0;
    position: absolute;
}